*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Edu TAS Beginner", Arial, Helvetica, sans-serif;
}

h1{
    font-size: 60px;
    padding: 20px;
    text-align: center;
}

header div{
    background-image: url("img/wall.png");
    background-size: cover;
}

main{
    background-image: url("img/cork.png");
}

img{
    max-width: 100%;
}

#contenitoreMain{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    width: 70%;
    padding: 40px 0;
    margin: 0 auto;
}

.card{
    position: relative;
    width: 250px;
    padding: 15px;
    box-shadow: 5px 5px 5px -2px black;

    background-color: rgb(255, 255, 255);
}

.card:hover{
    cursor: pointer;
    transform: rotate(45°);
}

.card div:last-child{
    margin-top: 10px;
}

.pin{
    position: absolute;
    transform: translate(91px,-21px);
    width: 30px;
}



