*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Edu TAS Beginner", Arial, Helvetica, sans-serif;
}

h1{
    font-size: 60px;
    padding: 20px;
    text-align: center;
}

header div{
    background-image: url("img/wall.png");
    background-size: cover;
}

main{
    background-image: url("img/cork.png");
}

img{
    max-width: 100%;
}

#reset{
    cursor: pointer;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    margin: 78% 41% 10% 41%  ;
}

#contenitoreMain{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 20px;
    width: 70%; 
    padding: 90px 0;
    margin: 0 auto;
}

.card{
    position: relative;
    transition: 0.3s ease;
    width: calc((100% / 3) - (40px / 3));
    padding: 10px;
    box-shadow: 3px 3px 3px -2px black;
    min-width: 200px;
    background-color: rgb(255, 255, 255);
}

.card:hover{
    cursor: pointer;
    transform: rotate(10deg) scale(1.2);
    box-shadow: 5px 5px 5px -2px black;
    z-index: 900;
}

.card:hover .pin{
    display: none;
}

.card div:last-child{
    margin-top: 10px;
}

.pin{
    position: absolute;
    left: 45%;
    top: -1%;
    width: 1.5rem;
}

#immagineOver{
    display: none;
    position: fixed;
    top: 18%;
    left: 29%;
    background-color: rgba(0,0,0,0.85);
    width: 600px;
    height: 560px;
    margin: -15vh auto;
    z-index: 1000;
}

.immagineOver img {
  max-width: 90%;
  transition: transform 0.3s ease;
}
