*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
font-family: "Edu TAS Beginner", Arial, Helvetica, sans-serif;
}

h1{
    font-size: 60px;
    padding: 20px;
    text-align: center;
}

header div{
    background-image: url("img/wall.png");
    background-size: cover;
}

main{
    background-image: url("img/cork.png");
    height:800px;
}

#contenitoreMain{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    width: 70%;
    margin: 0 auto;
}

.card{
    width: 250px;
    height: 300px;
    padding: 15px;
    margin-top: 40px;
    background-color: rgb(255, 255, 255);
}

.card div:last-child{
    margin: 10px 0;
}

.img{
    background-color: rgb(15, 190, 190);
    height: 200px;
}

